*{
  padding:0px;
  margin:0px;
}
body{
  background-color:hsl(237, 49%, 15%);
  font-family: sans-serif;
}
.rules{
  display: none;
}
.rules-main-containers{
  background-color:#fff;
  padding:20px;
  border-radius: 5px;
  width:300px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left:50%;
  z-index: 2;
}
.rules-upper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.rules-heading{
  color:#777;
  font-weight: bold;
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container-upper{
  width:40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:10px;
  border: 2px solid #777;
  border-radius: 10px;
}
.left-content{
  color:#fff;
  font-weight: bold;
  font-size:0.9rem;
}
.right-content{
  background-color: #fff;
  width:80px;
  border-radius: 5px;
  text-align: center;
  padding-top:15px;
}
.right-lw-data{
  color:#00f;
  font-size:0.5rem;
}
.right-up-data{
  font-size:1.6rem;
  font-weight: bold;
  color: #777;
}
.main-container-lower{
  position: relative;
  margin-top:80px;
}

.triangle{
  margin-top:20px;
  position: relative;
}
.triangle-svg{
  width:200px;
  height:200px;
}
.paper-svg,.scissors-svg,.rock-svg{
  width:40px;
}
.container-img{
  align-items: center;
  margin:15px 20px;
}
.paper{
  background-color: #fff;
  border:15px solid hsl(230, 89%, 65%);
  border-radius: 50%;
  width:80px;
  height: 80px;
  position:absolute;
  left:-30px;
  top:0px;
}

.scissors{
  background-color: #fff;
  border:15px solid hsl(40, 84%, 53%);
  border-radius: 50%;
  width:80px;
  height: 80px;
  position:absolute;
  left:130px;
  top:0px;
}
.rock{
  background-color: #fff;
  border:15px solid hsl(349, 70%, 56%);
  border-radius: 50%;
  width:80px;
  height: 80px;
  align-self: center;
  position:absolute;
  top:120px;
  left:50px;
}
.btn{
  position: absolute;
  top:95vh;
  right:2%;
}
.btn button{
  background-color: transparent;
  color:#fff;
  font-size:0.6rem;
  padding:10px 20px;;
  border: 2px solid #fff;
  border-radius:5px;
}

.picked{
  width: 50vw;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px auto 0 auto;
}
.picked-heading{
  font-size:0.7rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.house-selected,.user-selected{
  width:80px;
  height:80px;
  border-radius:50%;
  margin-top: 30px;
  position: relative;
  border:15px solid rgba(0,0,0,0);
}
.house-selected{
  background-color:rgba(0,0,0,0.1);
  }
.user-selected{
  background-color:#fff;
}
.user-selected-result,.house-selected-result{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left:50%;
}
@media only screen and (max-width:500px){
  .main-container-upper,.picked{
    width:90vw;
  }
  .main-container-lower{
    margin-top: 20px;
  }
}
